<div id="LogContainer"> 
    <!-- <div id="logTitle">  -->
        <h2 id="LogInText"> Login Form Goes Here</h2>
        <br>
    <!-- </div> -->
    <!-- <div id="logInDivInfo">  -->
        <form method="POST" action="/auth/login">
            <label for="auth-email"> EMAIL</label>
            <input type="email" id="auth-email" name="email">
            <label for="auth-password"> PASSWORD</label>
            <input type="password" id="auth-password" name="password">
            <input type="submit" value="Log In">
        </form>
    <!-- </div> -->
</div>  