<h3 id="notes"> Notes: </h3>

<div id="PetNotes"> 
  <p id="showComment"> <u> <%= comment.comment %> </u> </p> <br> 
  <b> Note Created: </b>  <%= comment.createdAt %><br> 
  <b> Last Update: </b> <%= comment.updatedAt %>
</div>

<a id="return2" href="/favorites">&larr; Return to View Your Favorites</a>
