<h1 id="notes"> Notes: </h1>

<div id="comment"> 
   <p id="showComment"> <%= comment.comment %> </p> 
<br> 
  <b>  Note Created: </b>  <%= comment.createdAt %>
<br> 
<b>  Last Update: </b> <%= comment.updatedAt %>

</div>

<a href="/favorites">&larr; Return to View All Animals</a>
