<h3 id="title"> The ultiMutt Adoption</h3>


<!-- <p id="minititle"><em> Find Your Best Friend Today </em></p> -->


<!-- <img src="https://i.postimg.cc/qM0MSKw5/good-logo.png" alt="no img"> -->

<!-- <p id="rescue"> Rescue: It's not just a verb, it's a <b> promise </b></p>
<p id="rescue2"> <em> A dog is the only thing on earth that loves you more than itself  </em></p>
<p id="rescue"> <em> "You can't change his past, but you can change his <b> future"</b>  </em></p>
<p id="rescue2"> <em> Unconditional love is as close as your nearest shelther  </em></p> -->

<h1>
    <!-- <em> 
    <span>You</span>
    <span>can't</span>
    <span>change</span>
    <span>his</span>
    <span>past,</span>
    <span>but</span>
    <span>you</span>
    <span>can</span>
    <span>change</span>
    <span>his</span>
    <span> <b>future.</b></span> -->
 <br>
 <br>
    <!-- <span>Rescue: </span>
    <span>it's not</span>
    <span>just a </span>
    <span>verb</span>
    <span>it's a promise. </span>
    <span>promise</span> -->
</em>
  </h1>

  <div id="about">
    <p> About Us: <br> 
      Are you looking to expand your family? <br> Do you need a new BFF? 
      If so,<br> 
      the UltiMutt Adoption App. is for you.<br>  The UltiMutt Adoption is a database with over <br> 
      100+ cats & dogs that are available for <br> 
      adoption near you!<br> 
      Sign up to easily track your new bff and <br> access their current location, contact information,<br>  short description and photo! <br>
     <a id="allPets" href="https://www.mspca.org/donate-now/">  <i style='font-size:24px' class='fas'>&#xf4be;</i></a> 
     <a id="allPets" href="https://www.baypathhumane.org/nearby-shelters&q=Nearby_Animal_Shelters_-_Baypath_Humane_Society_of_%E2%80%A6">  <i style='font-size:24px' class='fas'>&#xf5eb;</i></a> 
     <a id="allPets" href="https://www.humanesociety.org/resources/top-reasons-adopt-pet"> <i style='font-size:24px' class='fas'>&#xf518;</i></a>
     
     <br>
     Donate    &nbsp;&nbsp;    Locate  &nbsp;&nbsp; Educate<br>
    </p>
  </div>

<!-- <div class="homeImages"> 
    <img src="https://www.clickorlando.com/resizer/9aGhftAqbMXiSAoZxEfKLt1tZgc=/640x360/smart/filters:format(jpeg):strip_exif(true):strip_icc(true):no_upscale(true):quality(65)/arc-anglerfish-arc2-prod-gmg.s3.amazonaws.com/public/XTCQVWAHRNE3TCYSVQ36YQVQEY.jpg" alt="no img" width="200">
    <img src="https://dogtime.com/assets/uploads/2016/03/dog-human-hug.jpg" alt="no img" width="200">
    <img src="https://i.pinimg.com/originals/f7/bc/e1/f7bce1e17374453aaf58c89f27ed026d.jpg" alt="no img" width="200">
    <img src="https://humanerescue.org/wp-content/uploads/2020/03/sad-dog.jpg" alt="no img" width="200">

</div> -->

<footer>  <a id="footerlink" href="https://github.com/PaolaTramontin/ultiMuttAdoption"> GitHub</a> </footer>
