<h3 id="title"> The ultiMutt Adoption</h3>


<p id="minititle"><em> Find Your Best Friend Today </em></p>


<!-- <p id="rescue"> Rescue: It's not just a verb, it's a <b> promise </b></p>
<p id="rescue2"> <em> A dog is the only thing on earth that loves you more than itself  </em></p>
<p id="rescue"> <em> "You can't change his past, but you can change his <b> future"</b>  </em></p>
<p id="rescue2"> <em> Unconditional love is as close as your nearest shelther  </em></p> -->

<h1>
    <em> 
    <span>You</span>
    <span>can't</span>
    <span>change</span>
    <span>his</span>
    <span>past,</span>
    <span>but</span>
    <span>you</span>
    <span>can</span>
    <span>change</span>
    <span>his</span>
    <span> <b>future</b></span>
 <br>
    <span>Rescue: </span>
    <span>it's not</span>
    <span>just a </span>
    <span>verb</span>
    <span>it's a </span>
    <span>promise</span>
</em>
  </h1>


<div class="homeImages"> 
    <img src="https://www.clickorlando.com/resizer/9aGhftAqbMXiSAoZxEfKLt1tZgc=/640x360/smart/filters:format(jpeg):strip_exif(true):strip_icc(true):no_upscale(true):quality(65)/arc-anglerfish-arc2-prod-gmg.s3.amazonaws.com/public/XTCQVWAHRNE3TCYSVQ36YQVQEY.jpg" alt="no img" width="200">
    <img src="https://dogtime.com/assets/uploads/2016/03/dog-human-hug.jpg" alt="no img" width="200">
    <img src="https://i.pinimg.com/originals/f7/bc/e1/f7bce1e17374453aaf58c89f27ed026d.jpg" alt="no img" width="200">
    <img src="https://humanerescue.org/wp-content/uploads/2020/03/sad-dog.jpg" alt="no img" width="200">

</div>

<footer>  <a id="footerlink" href="https://github.com/PaolaTramontin/ultiMuttAdoption"> GitHub</a> </footer>
