<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>The ultiMutt Adoption</title>
</head>
<body>
    <header>
        <div id="sign"> 
            <% if (!currentUser) {%>
                <a href="/auth/signup"> Sign Up</a>
        </div>         
        <div id="login"> 
            <a href="/auth/login"> Log In</a>
        </div>
            <% } else {  %>
            <a href="/auth/logout"> Log Out</a>
            <a href="/profile"> Profile</a>
            <%  } %>
    </header>
    <div id="title"> The ultiMutt Adoption</div>
    <br>
    <p><em> Find Your Best Friend Today </em></p>
    <nav> 
            <div id="main"> 
        </div>
        </nav>
    <%-include('partials/alerts.ejs')%>
    <%- body %>

</body>
</html>