<a id="allPets" href="/animals"> Click here for <i style='font-size:35px;color:white' class='fas'>&#xf6d3;</i></a>
<a id="allPets" href="/cats"> Click here for <i style='font-size:35px;color:white' class='fas'>&#xf6be;</i></a>