body {  /* INFO ABOUT THE BODY & BACKGROUND IMG */
    background-image: url('https://newevolutiondesigns.com/images/freebies/dog-wallpaper-49.jpg');
    background-repeat: no-repeat;
    background-color:black;
    background-attachment: fixed;
    background-size: 100% 100%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    width:100vw;
    font-family: Marker Felt, fantasy;
    font-size:25px;
  } 


  .logins{
      color:red;
  }

